<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Nosotros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id='map' style='width: 100%; height: 300px;'></div>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Los Olivos</ion-card-title>
      <ion-card-subtitle>Nuestro servicios</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ul class="ion-text-left">
        <li>Medicina General</li>
        <li>Odontología</li>
        <li>Papanicolaou</li>
        <li>Control prenatal</li>
        <li>
          Control del niño sano
        </li>
        <li>TB</li>
        <li>PVVS</li>
        <li>Emergencias</li>
        <li>Referencia
          <a target="self" href="https://www.google.com/maps/place/Centro+de+Salud+Municipal+Los+Olivos/@-17.8288405,-63.1809485,15z/data=!4m5!3m4!1s0x0:0xf9d12cdcc83e4b3f!8m2!3d-17.8288405!4d-63.1809485?hl=es-419">Nuestra ubicacion</a>
        </li>
      </ul>
    </ion-card-content>
  </ion-card>
</ion-content>
