<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">NutriBebe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ul id="images"  (click)="mostrarImagen()">
      <ion-row>
        <ion-col size="6">
          <li>
            <img src="assets/img/nutribebe/1.jpg">
          </li>
        </ion-col>
        <ion-col size="6">
          <li>
            <img src="assets/img/nutribebe/2.jpg" alt="" srcset="">
          </li>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <li>
            <img src="assets/img/nutribebe/3.jpg" alt="" srcset="">
          </li>
        </ion-col>
        <ion-col size="6">
          <li>
            <img src="assets/img/nutribebe/4.jpg">
          </li>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <li>
            <img src="assets/img/nutribebe/5.jpg">
          </li>
        </ion-col>
        <ion-col size="6">
          <li>
            <img src="assets/img/nutribebe/6.jpg">
          </li>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <li>
            <img src="assets/img/nutribebe/7.jpg">
          </li>
        </ion-col>
        <ion-col size="6">
          <li>
            <img src="assets/img/nutribebe/8.jpg">
          </li>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <li>
            <img src="assets/img/nutribebe/9.jpg">
          </li>
        </ion-col>
        <ion-col size="6">
          <li>
            <img src="assets/img/nutribebe/10.jpg">
          </li>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <li>
            <img src="assets/img/nutribebe/11.jpg">
          </li>
        </ion-col>
        <ion-col size="6">
          <li>
            <img src="assets/img/nutribebe/12.jpg">
          </li>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <li>
            <img src="assets/img/nutribebe/13.jpg">
          </li>
        </ion-col>
        <ion-col size="6">
          <li>
            <img src="assets/img/nutribebe/14.jpg">
          </li>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <li>
            <img src="assets/img/nutribebe/15.jpg">
          </li>
        </ion-col>
        <ion-col size="6">
          <li>
            <img src="assets/img/nutribebe/16.jpg">
          </li>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <li>
            <img src="assets/img/nutribebe/17.jpg">
          </li>
        </ion-col>
        <ion-col size="6">
          <li>
            <img src="assets/img/nutribebe/18.jpg">
          </li>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <li>
            <img src="assets/img/nutribebe/19.jpg">
          </li>
        </ion-col>
        <ion-col size="6">
          <li>
            <img src="assets/img/nutribebe/20.jpg">
          </li>
        </ion-col>
      </ion-row>
    </ul>
  </ion-grid>
</ion-content>