<ion-content color="primary">
  <ion-slides [options]="slideOpts">

    <ion-slide>
      <div class="slide">
        <!-- <img src="assets/img/calculadora.svg"/> -->
        <!-- <ion-img style="height: 150px;"></ion-img> -->
        <img src="assets/logo_app.png" alt="" srcset="" style="border-radius: 10px;">
        <h2 class="titulo">Bienvenido</h2>
        <p class="subtitulo">¡Su salud es nuestra prioridad.!</p>
        <ion-button routerLink="/login" color="light" expand="block" style="margin-left: 1em ; margin-right: 1em;">Login
        </ion-button>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/hospital.svg" style="height: 20vh; margin-bottom: 0;" />
      <h2 class="titulo">¿Quienes somos?</h2>
      <p class="subtitulo">El Centro de Salud Los Olivos es un centro de salud de primer nivel, cuya finalidad es la
        promover estilos de vida saludables para el mantenimiento de la salud y la prevencion de las enfermedades en los
        habitantes que, como usted pertenecen a las UV 15, 16 y 18. ¡Recuerda que la prevencion es la mejor medicina!
      </p>
      <ion-button routerLink="/login" color="light" expand="block" style="margin-left: 1em ; margin-right: 1em;">Login
      </ion-button>
    </ion-slide>

    <ion-slide>
      <img style="height: 20vh;" src="assets/img/assistant.svg" />
      <h2 class="titulo">Nuestro servicios</h2>
      <ul class="ion-text-center" style="margin-left: 0 !important;" >
        <li >Medicina General</li>
        <li>Odontología</li>
        <li>Papanicolaou</li>
        <li>Control prenatal</li>
        <li>
          Control del niño sano
        </li>
        <li>TB</li>
        <li>PVVS</li>
        <li>Emergencias</li>

      </ul>
      <ion-button routerLink="/login" color="light" expand="block" style="margin-left: 1em ; margin-right: 1em;">Login
      </ion-button>
    </ion-slide>
    <ion-slide (click)="mostrarImagen()"> 
      <h2 class="titulo ion-margin-top" style="margin-top: 1em !important;">Pregunta frecuentes <br> ¿Que es el SUS?</h2>
      <img  style="height: 80vh; margin-top: 1em;" src="assets/img/sus.jpg" id="images" />
    </ion-slide>
    <ion-slide> 
      <h2 class="titulo ion-margin-top" style="margin-top: 1em !important;font-size: 1em; line-height: 1.5;">
        Contactenos <br>
        (+591) 33563660 <br>
        Línea Gratuita <br>
        800100070 <br>
        5RC9+Fj Santa cruz de <br>
        la Sierra
      </h2>
      <img  style="height: 80vh; margin-top: 0;" src="assets/img/logo_SUS.jpg" id="images" />
    </ion-slide>
    <!-- <ion-slide>
      <img src="assets/img/calculadora.svg" />
      <h2>Ready to Play?</h2>
      <ion-button color="light" expand="block" style="margin-left: 1em ; margin-right: 1em;">Login</ion-button>
    </ion-slide> -->
    <div class="swiper-pagination"></div>
  </ion-slides>
  <!-- Add Pagination -->

  <!-- Add Arrows -->
  <div class="swiper-button-next swiper-button-white" style="color: white;"></div>
  <div class="swiper-button-prev swiper-button-white"></div>
</ion-content>