
<ion-content color="primary">
  <ion-slides [options]="slideOpts" >

    <ion-slide>
      <div class="slide">
        <img src="assets/img/calculadora.svg"/>
        <h2>Welcome</h2>
        <p>The is a practical preview of the ionic framework in action, and a demonstration of proper code use.</p>
        <ion-button routerLink="/login" color="light"  expand="block" style="margin-left: 1em ; margin-right: 1em;">Login</ion-button>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/calculadora.svg"/>
      <h2>What is Ionic?</h2>
      <p>is an open source SDK that enables developers to build logies like HTML, CSS, and JavaScript.</p>
      <ion-button color="light"  expand="block" style="margin-left: 1em ; margin-right: 1em;">Login</ion-button>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/calculadora.svg"/>
      <h2>What is Ionic Appflow?</h2>
      <p> is a powerful set of services and features built on top of liams.</p>
      <ion-button color="light"  expand="block" style="margin-left: 1em ; margin-right: 1em;">Login</ion-button>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/calculadora.svg"/>
      <h2>Ready to Play?</h2>
      <ion-button color="light"  expand="block" style="margin-left: 1em ; margin-right: 1em;">Login</ion-button>
    </ion-slide>
    <div class="swiper-pagination"></div>
  </ion-slides>
  <!-- Add Pagination -->
  
  <!-- Add Arrows -->
  <div class="swiper-button-next swiper-button-white" style="color: white;"></div>
  <div class="swiper-button-prev swiper-button-white"></div>
</ion-content>
