<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Crear Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <form onsubmit="processForm(event)">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">Carnet identidad <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input type="text" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Nombre <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Apellido Paterno<ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Apellido Materno<ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Numero Telefonico
        </ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
    </ion-list>
  </form>
  <ion-button routerLink="/pacientes" class="ion-margin"  expand="block" fill="outline" >
    Crear
  </ion-button>
</ion-content>