<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
      <div style=" width: 100%;">
        <ion-avatar style="margin: auto;margin-top: 1rem;" >
          <img src="assets/img/avatar.svg" />
        </ion-avatar>
      </div>
      <ion-list>
        <ion-item>
          <ion-label color="primary">CI</ion-label>
          <ion-text slot="end" >
            123213123
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-label color="primary">Nombre</ion-label>
          <ion-text slot="end" >
            Awesome text
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-label color="primary">Apellido Paterno</ion-label>
          <ion-text slot="end" >
            Awesome text
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-label color="primary">Apellido Materno</ion-label>
          <ion-text slot="end" >
            Awesome text
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-label color="primary">Numero telefonico</ion-label>
          <ion-text slot="end" >
            Awesome text
          </ion-text>
        </ion-item>
      </ion-list>
  
</ion-content>
