<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>
            <ion-text color="primary">
              Control
            </ion-text>
          </ion-list-header>
          <ion-note>U.E.B</ion-note>

          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="obtenerId('/home')" *ngIf="!show">
              <ion-icon slot="start" name="book"></ion-icon>
              <ion-label>Historial</ion-label>
            </ion-item>
            <ion-item routerLink="/pacientes" *ngIf="show">
              <ion-icon slot="start" name="people"></ion-icon>
              <ion-label>Pacientes</ion-label>
            </ion-item>
            <ion-item (click)="obtenerId('/nutricional')" *ngIf="!show">
              <ion-icon slot="start" name="time"></ion-icon>
              <ion-label>Control Nutricional</ion-label>
            </ion-item>
            <ion-item routerLink="/nutribebe">
              <ion-icon slot="start" name="heart"></ion-icon>
              <ion-label>Nutribebe</ion-label>
            </ion-item>
            <ion-item routerLink="/welcome">
              <ion-icon slot="start" name="exit"></ion-icon>
              <ion-label>Salir</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>