<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Historial del control</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Historial
    </ion-list-header>

    <ion-item>
      <ion-label routerLink="/calculo">
        <ion-text color="primary">
          <h2>Finn</h2>
        </ion-text>
        <h3>I'm a big deal</h3>
        <p>Listen, I've had a pretty messed up day...</p>
        <ion-chip>
          <ion-label>10kg</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-label>70cm</ion-label>
        </ion-chip>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label routerLink="/calculo">
        <ion-text color="primary">
          <h2>Finn</h2>
        </ion-text>
        <h3>Look, kid...</h3>
        <p>I've got enough on my plate as it is, and I...</p>
        <ion-chip>
          <ion-label>10kg</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-label>70cm</ion-label>
        </ion-chip>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label routerLink="/calculo">
        <ion-text color="primary">
          <h2>Finn</h2>
        </ion-text>
        <h3>Look, kid...</h3>
        <p>I've got enough on my plate as it is, and I...</p>
        <ion-chip>
          <ion-label>10kg</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-label>70cm</ion-label>
        </ion-chip>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label routerLink="/calculo">
        <ion-text color="primary">
          <h2>Finn</h2>
        </ion-text>
        <h3>Look, kid...</h3>
        <p>I've got enough on my plate as it is, and I...</p>
        <ion-chip>
          <ion-label>10kg</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-label>70cm</ion-label>
        </ion-chip>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label routerLink="/calculo">
        <ion-text color="primary">
          <h2>Finn</h2>
        </ion-text>
        <h3>Look, kid...</h3>
        <p>I've got enough on my plate as it is, and I...</p>
        <ion-chip>
          <ion-label>10kg</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-label>70cm</ion-label>
        </ion-chip>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label routerLink="/calculo">
        <ion-text color="primary">
          <h2>Finn</h2>
        </ion-text>
        <h3>I can handle myself</h3>
        <p>You will remove these restraints and leave...</p>
        <ion-chip>
          <ion-label>10kg</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-label>70cm</ion-label>
        </ion-chip>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label routerLink="/calculo">
        <ion-text color="primary">
          <h2>Finn</h2>
        </ion-text>
        <h3>Your thoughts betray you</h3>
        <p>I feel the good in you, the conflict...</p>
        <ion-chip>
          <ion-label>10kg</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-label>70cm</ion-label>
        </ion-chip>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
    <ion-fab-button color="primary" routerLink="/grafico">
      <ion-icon color="light" name="stats-chart"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>