<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Historial del control</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="historial.length; else elseTemplate">
    <ion-list>
      <ion-list-header>
        Historial
      </ion-list-header>
  
      <ion-item *ngFor="let item of historial">
        
        <ion-label routerLink="/calculo">
          <ion-text color="primary">
            <h2> Personal medico: </h2>
          </ion-text>
          <h3>{{ item.Doctor.Usuario.nombre | titlecase}} {{ item.Doctor.Usuario.apellidoPaterno | titlecase}}</h3>
          <p>Edad: {{ item.edad | date:'dd/MM/yyyy'}}</p>
          <ion-chip color="primary">
            <ion-label>{{ item.peso }} Kg</ion-label>
          </ion-chip>
          <ion-chip color="primary">
            <ion-label>{{ item.tamagno}} cm</ion-label>
          </ion-chip>
        </ion-label>
        <ion-avatar slot="end">
          <ion-img src="assets/img/book.svg"></ion-img>
        </ion-avatar>
      </ion-item>
  
    </ion-list>
  </ng-container>
  <ng-template #elseTemplate>
      <ion-text color="primary ion-text-center">
        <h4>No existe historial</h4>
      </ion-text>
  </ng-template>
  
  
  <ion-fab *ngIf="historial.length;" vertical="bottom" horizontal="end" slot="fixed" >
    <ion-fab-button color="primary" routerLink="/grafico">
      <ion-icon color="light" name="stats-chart"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>