<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Pacientes</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar  color="light" mode="ios" placeholder="Buscar" (ionChange)="buscar($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ng-container *ngIf="pacientes.length; else elseTemplate">
      <ion-item *ngFor="let item of pacientes" (click)="presentActionSheet(item)">
        <ion-avatar slot="start">
          <img src="assets/img/avatar.svg">
        </ion-avatar>
        <ion-label>
          <ion-text color="primary">
            <h2>{{item.nombre | titlecase}}</h2>
          </ion-text>
          <h3>{{item.apellidoPaterno | titlecase }} {{item.apellidoMaterno | titlecase}}</h3>
          <h3> </h3>
          <p>{{item.ci}}</p>
        </ion-label>
      </ion-item>
    </ng-container>
    <ng-template #elseTemplate>

    </ng-template>
    
    
  </ion-list>
  <ion-fab routerLink="/signup" vertical="bottom" horizontal="end" slot="fixed" >
    <ion-fab-button color="primary" >
      <ion-icon color="light" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>