<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Formulario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <form [formGroup]="myForm">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">Altura / Talla<ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input type="number" formControlName="tamagno"   type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Peso<ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input type="number"  formControlName="peso"   type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Fecha Nacimiento<ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-datetime formControlName='edad' displayFormat="DD MM YYYY" placeholder="Selecciona fecha Nacimiento" cancelText="Cancelar" doneText="Atras"></ion-datetime>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <ion-button [disabled]="myForm.invalid" (click)="crear()" expand="block" type="submit" class="ion-no-margin">
        <ion-text color="light">
          Agregar
        </ion-text>
      </ion-button>
    </div>
  </form>
</ion-content>