<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Riesgo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ng-container *ngIf="datas.length; else elseTemplate">
    <ion-card *ngFor="let item of datas; let i = index" mode="ios" (click)="presentActionSheet(item)">
      <ion-card-header>
        <ion-card-subtitle>N. {{ i + 1}} Riesgo</ion-card-subtitle>
        <ion-card-subtitle>
          Fecha de Registo: {{ item.createdAt | date:'dd/MM/yyyy'}}
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label color="primary">Tipo :</ion-label>
          </ion-item>
          <ion-item>
            {{ item.tipo }}
          </ion-item>
          <ion-item>
            <ion-label color="primary">Personal :</ion-label>
          </ion-item>
          <ion-item>
            {{ item.personal}}
          </ion-item>
          <ion-item>
            <ion-label color="primary">Familiar :</ion-label>
          </ion-item>
          <ion-item>
            {{ item.familiar }}
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ng-container>
  <ng-template #elseTemplate>
      <ion-text color="light" class="ion-align-center">
        <h3>No hay datos...</h3>
      </ion-text>
  </ng-template>
  
  
  
</ion-content>
<ion-fab (click)="presentModal()"  vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="tertiary">
    <ion-icon color="light" color="primary" name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>