<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Control Nutricional</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-text color="success">
        Historial del control nutricional
      </ion-text>
    </ion-list-header>
    <ion-card mode="ios">
      <ion-card-content  (click)="presentActionSheet()">
          <ion-label>
            <ion-text color="primary">
              <h2>Finn</h2>
            </ion-text>
            <h3>I'm a big deal</h3>
            <p>Listen, I've had a pretty messed up day...</p>
            <ion-chip  color="success">
              <ion-icon name="checkmark" ></ion-icon>
              <ion-label>completo</ion-label>
            </ion-chip>
            <ion-chip  color="warning">
              <ion-icon name="alert" ></ion-icon>
              <ion-label>incompleto</ion-label>
            </ion-chip>
          </ion-label>
      </ion-card-content>
    </ion-card>
    <ion-card mode="ios">
      <ion-card-content  (click)="presentActionSheet()">
          <ion-label>
            <ion-text color="primary">
              <h2>Finn</h2>
            </ion-text>
            <h3>I'm a big deal</h3>
            <p>Listen, I've had a pretty messed up day...</p>
            <ion-chip  color="success">
              <ion-icon name="checkmark" ></ion-icon>
              <ion-label>completo</ion-label>
            </ion-chip>
            <ion-chip  color="warning">
              <ion-icon name="alert" ></ion-icon>
              <ion-label>incompleto</ion-label>
            </ion-chip>
          </ion-label>
      </ion-card-content>
    </ion-card>
    <ion-card mode="ios">
      <ion-card-content  (click)="presentActionSheet()">
          <ion-label>
            <ion-text color="primary">
              <h2>Finn</h2>
            </ion-text>
            <h3>I'm a big deal</h3>
            <p>Listen, I've had a pretty messed up day...</p>
            <ion-chip  color="success">
              <ion-icon name="checkmark" ></ion-icon>
              <ion-label>completo</ion-label>
            </ion-chip>
            <ion-chip  color="warning">
              <ion-icon name="alert" ></ion-icon>
              <ion-label>incompleto</ion-label>
            </ion-chip>
          </ion-label>
      </ion-card-content>
    </ion-card>
    <ion-card mode="ios">
      <ion-card-content  (click)="presentActionSheet()">
          <ion-label>
            <ion-text color="primary">
              <h2>Finn</h2>
            </ion-text>
            <h3>I'm a big deal</h3>
            <p>Listen, I've had a pretty messed up day...</p>
            <ion-chip  color="success">
              <ion-icon name="checkmark" ></ion-icon>
              <ion-label>completo</ion-label>
            </ion-chip>
            <ion-chip  color="warning">
              <ion-icon name="alert" ></ion-icon>
              <ion-label>incompleto</ion-label>
            </ion-chip>
          </ion-label>
      </ion-card-content>
    </ion-card>
    <ion-card mode="ios">
      <ion-card-content  (click)="presentActionSheet()">
          <ion-label>
            <ion-text color="primary">
              <h2>Finn</h2>
            </ion-text>
            <h3>I'm a big deal</h3>
            <p>Listen, I've had a pretty messed up day...</p>
            <ion-chip  color="success">
              <ion-icon name="checkmark" ></ion-icon>
              <ion-label>completo</ion-label>
            </ion-chip>
            <ion-chip  color="warning">
              <ion-icon name="alert" ></ion-icon>
              <ion-label>incompleto</ion-label>
            </ion-chip>
          </ion-label>
      </ion-card-content>
    </ion-card>
    <ion-card mode="ios">
      <ion-card-content  (click)="presentActionSheet()">
          <ion-label>
            <ion-text color="primary">
              <h2>Finn</h2>
            </ion-text>
            <h3>I'm a big deal</h3>
            <p>Listen, I've had a pretty messed up day...</p>
            <ion-chip  color="success">
              <ion-icon name="checkmark" ></ion-icon>
              <ion-label>completo</ion-label>
            </ion-chip>
            <ion-chip  color="warning">
              <ion-icon name="alert" ></ion-icon>
              <ion-label>incompleto</ion-label>
            </ion-chip>
          </ion-label>
      </ion-card-content>
    </ion-card>
    

    
  </ion-list>
</ion-content>
