<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Control Nutricional</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-text color="success">
        Historial del control nutricional
      </ion-text>
    </ion-list-header>
    <ion-card mode="ios" *ngFor="let item of nutrientes; let i = index">
      <ion-card-content  (click)="presentActionSheet(item)">
          <ion-label>
            <ion-text color="primary">
              <h2>No {{ i + 1}}</h2>
            </ion-text>
            <h3>Fecha Inicial : <ion-badge color="secondary" mode="ios">{{item.fechaInicial | date:'dd/MM/yyyy'}}</ion-badge></h3>
            <h3>Fecha Siguiente : <ion-badge color="secondary" mode="ios">{{item.fechaSiguiente | date:'dd/MM/yyyy'}}</ion-badge></h3>
            <p>{{ item.descripcion }}</p>
            <ng-container *ngIf="item.estado; else elseTemplate">
              <ion-chip  color="success">
                <ion-icon name="checkmark" ></ion-icon>
                <ion-label>completo</ion-label>
              </ion-chip>
            </ng-container>
            <ng-template #elseTemplate>
              <ion-chip  color="warning">
                <ion-icon name="alert" ></ion-icon>
                <ion-label>incompleto</ion-label>
              </ion-chip>
            </ng-template>
            
            
            
          </ion-label>
      </ion-card-content>
    </ion-card>

    

    
  </ion-list>
  <ion-fab (click)="presentModal()" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon color="light" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
